@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #020202;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
/* You can't completely hide the scrollbar in Firefox with pure CSS, */
/* but you can make it very thin and less obtrusive. */
/* See the next example for a better approach for Firefox. */
@font-face {
  font-family: "Overused Grotesk";
  src: url("./assets/fonts/OverusedGroteskRoman-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
.jmbotron {
  display: flex;
  flex-direction: row;
  height: 98vh;
  padding: 84px 112px;
  flex-direction: row-reverse;
  margin-bottom: 76px;
}
@media (max-width: 767px) {
  .jmbotron {
    flex-direction: column;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 140px 30px;
    margin-bottom: 0px;
  }
}
@media (768px <= width <= 1024px) {
  .jmbotron {
    height: 45vh;
    padding: 84px 70px;
  }
}

.jmbodisps {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .jmbodisps {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.jmbodisps p {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .jmbodisps p {
    font-size: 20px;
    text-align: center;
  }
}
.jmbodisps h1 {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 88px;
  text-align: right;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .jmbodisps h1 {
    font-size: 44px;
    text-align: center;
  }
}
@media (768px <= width <= 1024px) {
  .jmbodisps h1 {
    font-size: 70px;
  }
}
.jmbodisps a {
  background: rgba(2, 2, 2, 0);
  border: 2px solid #fff;
  text-decoration: none;
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: white;
  padding: 12px 18px;
  box-shadow: 0px 0px 0px 0px;
  transition: all 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}
@media (max-width: 767px) {
  .jmbodisps a {
    color: white;
    border: 2px solid white;
    font-size: 16px;
  }
}
.jmbodisps a:hover {
  background: white;
  color: black;
}
@media (768px <= width <= 1024px) {
  .jmbodisps a {
    color: white;
    border: 2px solid white;
  }
}

.mrtitle h1 {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: -0.01em;
  margin-left: 24px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .mrtitle h1 {
    font-size: 30px;
    padding-top: 160px;
  }
}
@media (768px <= width <= 1024px) {
  .mrtitle h1 {
    font-size: 35px;
  }
}

.maxmusic {
  margin: 0px 28px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (max-width: 767px) {
  .maxmusic {
    margin: 40px 28px;
  }
}

.maxflex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .maxflex {
    flex-direction: column;
  }
}

.mkbd {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 35px;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .mkbd {
    width: 100%;
  }
}

.mksplash {
  height: 548px;
}
@media (max-width: 767px) {
  .mksplash {
    height: 390px;
  }
}
@media (768px <= width <= 1024px) {
  .mksplash {
    height: 290px;
  }
}
@media (width: 540px) {
  .mksplash {
    height: 460px;
  }
}

.mkdeets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mkdeets h2 {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .mkdeets h2 {
    font-size: 18px;
  }
}
@media (768px <= width <= 1024px) {
  .mkdeets h2 {
    font-size: 18px;
  }
}
.mkdeets a {
  color: white;
  background: #33658A;
  text-decoration: none;
  border: 2px solid #33658A;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 16px;
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.03em;
  transition: color 0.15s ease-in-out, border 0.15s ease-in-out, background 0.15s ease-in-out;
}
@media (max-width: 767px) {
  .mkdeets a {
    padding: 5px;
    border-radius: 0px;
    font-size: 15px;
  }
}
@media (768px <= width <= 1024px) {
  .mkdeets a {
    padding: 5px;
    border-radius: 0px;
    font-size: 15px;
  }
}
.mkdeets a:hover {
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.abtparent {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin: 0px 28px;
}
@media (max-width: 767px) {
  .abtparent {
    margin: 0px 28px;
  }
}

.abtwittle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.abtwittle h1 {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .abtwittle h1 {
    font-size: 30px;
  }
}
@media (768px <= width <= 1024px) {
  .abtwittle h1 {
    font-size: 35px;
  }
}
.abtwittle a {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  text-decoration: none;
  text-align: right;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  transition: color 0.15s ease-in-out;
}
.abtwittle a:hover {
  color: #33658A;
}
@media (max-width: 767px) {
  .abtwittle a {
    font-size: 30px;
  }
}
@media (768px <= width <= 1024px) {
  .abtwittle a {
    font-size: 35px;
  }
}

.home-icon {
  width: 30px;
  text-align: center;
  height: 30px;
  fill: #fff;
}

.blokes {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin: 0px 28px;
  justify-content: center;
}
.blokes h2 {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  font-size: 25px;
}
@media (max-width: 767px) {
  .blokes h2 {
    font-size: 18px;
  }
}

.kese {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
@media (max-width: 767px) {
  .kese {
    flex-wrap: wrap;
    gap: 6px;
  }
}
.kese a {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 6px 8px;
  border: 2px solid white;
  border-radius: 2rem;
  font-size: 18px;
  transition: all 0.25s ease;
}
@media (max-width: 767px) {
  .kese a {
    font-size: 18px;
  }
}
.kese a:hover {
  background: #fff;
  color: black;
}

.loke {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.loke a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 2px solid white;
  font-family: "Overused Grotesk", sans-serif;
  font-size: 20px;
  background: transparent;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 2rem;
}
.loke a:hover {
  background: white;
  color: black;
}

.tems {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-between;
}

.abtkontent {
  display: flex;
  flex-direction: column;
  gap: 140px;
}
@media (max-width: 767px) {
  .abtkontent {
    gap: 40px;
  }
}

.abtsplashtwo {
  display: grid;
  grid-template-columns: 40% 58%;
  gap: 20px;
}
@media (max-width: 767px) {
  .abtsplashtwo {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 50px;
  }
}

.abtsplash {
  display: grid;
  grid-template-columns: 40% 58%;
  direction: rtl;
  gap: 20px;
}
@media (max-width: 767px) {
  .abtsplash {
    display: flex;
    flex-direction: column;
    direction: ltr;
    height: auto;
    gap: 50px;
  }
}

.wimage {
  height: 394px;
  border: 2px solid #33658A;
}
@media (max-width: 767px) {
  .wimage {
    width: auto;
    height: 390px;
  }
}
@media (768px <= width <= 1024px) {
  .wimage {
    height: 268px;
  }
}

@media (max-width: 767px) {
  .abkontent-l {
    width: auto;
  }
}
.abkontent-l p {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: right;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .abkontent-l p {
    text-align: left;
    font-size: 18px;
    letter-spacing: -0.03em;
  }
}
@media (768px <= width <= 1024px) {
  .abkontent-l p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .abkontent-r {
    width: auto;
  }
}
.abkontent-r p {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: left;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .abkontent-r p {
    font-size: 18px;
    letter-spacing: -0.03em;
  }
}
@media (768px <= width <= 1024px) {
  .abkontent-r p {
    font-size: 18px;
  }
}

@media (min-width: 1381px) {
  .jah {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.newsec {
  display: flex;
  flex-direction: row;
  margin: 20px 28px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .newsec {
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin: 35px 28px;
  }
}
@media (min-width: 1381px) {
  .newsec {
    width: 86%;
  }
}

.headnlinks {
  width: 40%;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .headnlinks {
    width: auto;
    gap: 20px;
  }
}
.headnlinks h1 {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 98%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .headnlinks h1 {
    font-size: 40px;
  }
}
@media (768px <= width <= 1024px) {
  .headnlinks h1 {
    font-size: 40px;
  }
}
@media (min-width: 1381px) {
  .headnlinks h1 {
    font-size: 58px;
  }
}

.winkers {
  width: 48.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .winkers {
    width: 75%;
  }
}
.winkers a {
  font-size: 22.5px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  transition: color 0.15s ease-in-out;
}
.winkers a:hover {
  color: #33658A;
}

input[type=radio] {
  accent-color: white;
  background: #020202;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.8549019608);
}

.safety {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.safety p {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .safety p {
    font-size: 16px;
  }
}

.forms {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 767px) {
  .forms {
    width: auto;
  }
}
@media (768px <= width <= 1024px) {
  .forms {
    width: 52%;
  }
}

.subsend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subsend input {
  height: 60px;
  background: #020202;
  border: 2px solid #ffffff;
  padding: 0 22px;
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
  border-radius: 0px;
  color: #ffffff;
  width: 80%;
}
.subsend input:focus {
  border: 2px solid #ffffff;
  border-radius: 0px;
}
@media (max-width: 767px) {
  .subsend input {
    font-size: 16px;
  }
}
.subsend button {
  width: 20%;
  height: 60px;
  border: 2px solid #ffffff;
  background: #fff;
  color: #020202;
  font-size: 30px;
}

.submission-feedback {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submission-feedback p {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 55px;
  letter-spacing: -0.05em;
  color: white;
}

.manhan {
  margin: 20px 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

.haman h1 {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .haman h1 {
    font-size: 30px;
    padding-top: 15px;
  }
}
@media (768px <= width <= 1024px) {
  .haman h1 {
    font-size: 35px;
  }
}

.hamanposts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.bigmanblast {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px;
}
@media (max-width: 767px) {
  .bigmanblast {
    width: 100%;
  }
}
@media (768px <= width <= 1024px) {
  .bigmanblast {
    width: 100%;
  }
}

.blastoise {
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 1381px) {
  .blastoise {
    height: 440px;
  }
}
.blastoise img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.lilblast {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.lilblast h2 {
  font-family: "Overused Grotesk", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 98%;
  letter-spacing: -0.03em;
  color: white;
}
@media (max-width: 767px) {
  .lilblast h2 {
    font-size: 20px;
  }
}
@media (768px <= width <= 1024px) {
  .lilblast h2 {
    font-size: 20px;
  }
}
.lilblast p {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: white;
}
@media (max-width: 767px) {
  .lilblast p {
    font-size: 14px;
  }
}
@media (768px <= width <= 1024px) {
  .lilblast p {
    font-size: 14px;
  }
}
.lilblast a {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: #ffffff;
  border: none;
  transition: color 0.15s ease-in-out;
}
@media (max-width: 767px) {
  .lilblast a {
    color: #33658A;
  }
}
.lilblast a:hover {
  color: #33658A;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.bkrenji {
  margin-top: 3px;
  padding: 10px;
  background: #1E1E1E;
  border-radius: 30px;
}

.mobile-nav {
  display: none;
}
@media (max-width: 767px) {
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    width: 100vw;
    padding-top: 90px;
    background-color: #1E1E1E;
    transition: 0.4s;
  }
}
@media (width: 540px) {
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    width: 100vw;
    padding-top: 90px;
    background-color: #1E1E1E;
    transition: 0.4s;
  }
}

.mobile-nav.is-active {
  left: 0;
}

.holster {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.angles {
  display: flex;
  flex-direction: column;
  padding: 80px 64px 0px 64px;
  gap: 60px;
}
.angles button {
  font-family: "Overused Grotesk", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.01em;
  border: 0;
  padding: none;
  background: none;
  transition: color 0.15s ease;
}
.angles button:focus {
  color: #33658A;
}

.qwik {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
}
.qwik a {
  font-size: 24px;
  background: none;
  text-decoration: none;
  color: #33658A;
  border: none;
  transition: color 0.15s ease-in-out;
}

.nav {
  display: flex;
  font-family: "Overused Grotesk", sans-serif;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  right: 0px;
  background: #020202;
  padding: 10px;
  z-index: 120;
}
@media (max-width: 767px) {
  .nav {
    backdrop-filter: none;
    padding: 25px 18px;
    align-items: stretch;
    flex-direction: column-reverse;
  }
}
.nav a {
  text-decoration: none;
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 600;
}
@media (max-width: 767px) {
  .nav a {
    text-align: center;
    font-size: 30px;
  }
}
.nav .stacked {
  display: none;
  z-index: 999;
}
@media (max-width: 767px) {
  .nav .stacked {
    display: block;
  }
}
@media (width: 540px) {
  .nav .stacked {
    display: block;
  }
}
.nav .hamburger {
  display: block;
  width: 42px;
  cursor: pointer;
  height: 42px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 99;
}
.nav .bar, .nav .hamburger::after, .nav .hamburger::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  z-index: 99;
}
.nav .bar {
  width: 100%;
  z-index: 99;
}
.nav .hamburger::before {
  width: 100%;
  z-index: 99;
}
.nav .hamburger.is-active::before {
  width: 100%;
  transform: rotate(-45deg) translate(-8px, 6px);
  z-index: 99;
}
.nav .hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
  z-index: 99;
}
.nav .hamburger.is-active .bar {
  opacity: 0;
  z-index: 99;
}
.nav .splat {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .nav .yah {
    text-transform: none !important;
    font-size: 16px !important;
  }
  .nav .yah a {
    font-size: 16px !important;
  }
}
.nav .spread-menu {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}
.nav .spread-menu button {
  border: none;
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: right;
  color: #ffffff;
  transition: color 0.15s ease-in-out;
  background: none;
}
.nav .spread-menu button:hover {
  color: #33658A;
}
.nav .spread-menu a {
  font-family: "Overused Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-decoration: none;
  text-align: right;
  color: #ffffff;
  transition: color 0.15s ease-in-out;
  background: none;
}
.nav .spread-menu a:hover {
  color: #33658A;
}
@media (max-width: 767px) {
  .nav .spread-menu button {
    text-transform: uppercase;
    font-size: 12px;
  }
  .nav .spread-menu a {
    font-size: 12px;
  }
}
.nav .lebuttan {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}
.nav .lebuttan a {
  font-size: 16.5px;
  background: none;
  text-decoration: none;
  color: #ffffff;
  border: none;
  transition: color 0.15s ease-in-out;
}
.nav .lebuttan a:hover {
  color: #33658A;
}
@media (max-width: 767px) {
  .nav .lebuttan {
    display: none;
  }
}

.footsies {
  margin: 80px 28px 20px 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.footsies a {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 767px) {
  .footsies a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .footsies {
    flex-wrap: wrap;
  }
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}
@media (max-width: 767px) {
  .video-bg {
    height: 100%;
  }
}
@media (768px <= width <= 1024px) {
  .video-bg {
    height: 50%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.lightbox-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.25s ease-out forwards;
}

.lightbox-content {
  position: relative;
  width: 80vw;
  max-width: 900px;
  aspect-ratio: 16/9;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  animation: zoomIn 0.3s ease-out forwards;
}
@media (max-width: 767px) {
  .lightbox-content {
    z-index: 2000;
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #020202;
  border: none;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  font-weight: bolder;
  color: #fff;
  border-radius: 30px;
  z-index: 10;
  cursor: pointer;
}

.lightbox-trigger img {
  width: 100%;
  border-radius: 24px;
  filter: blur(8px);
  cursor: pointer;
  scale: 1;
  transition: scale 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), filter 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}
@media (max-width: 767px) {
  .lightbox-trigger img {
    filter: blur(0px);
  }
}
@media (768px <= width <= 1024px) {
  .lightbox-trigger img {
    filter: blur(0px);
  }
}
.lightbox-trigger img:hover {
  scale: 1.04;
  filter: blur(0);
}
@media (max-width: 767px) {
  .lightbox-trigger img:hover {
    scale: 1;
  }
}
@media (768px <= width <= 1024px) {
  .lightbox-trigger img:hover {
    scale: 1;
  }
}

.ken {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.tatata h2 {
  text-align: left;
  font-weight: 600;
  font-style: normal;
  font-family: "Overused Grotesk", sans-serif;
  font-size: 20px;
}

.music-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 500px;
}
@media (max-width: 767px) {
  .music-carousel {
    min-height: 60vh;
  }
}
.music-carousel__viewport {
  position: relative;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}
.music-carousel__slide {
  width: 100%;
  height: 100%;
}
.music-carousel__arrow {
  font-size: 3rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.music-carousel__arrow.left {
  position: absolute;
  left: 0;
}
@media (max-width: 767px) {
  .music-carousel__arrow.left {
    visibility: hidden;
  }
}
.music-carousel__arrow.right {
  position: absolute;
  right: 0;
}
@media (max-width: 767px) {
  .music-carousel__arrow.right {
    visibility: hidden;
  }
}

.music-slide {
  text-align: center;
  color: #fff;
}
.music-slide__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Overused Grotesk", sans-serif;
}
.music-slide__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .music-slide__image {
    object-fit: fill;
    height: 100%;
  }
}
.music-slide__button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 2px solid white;
  font-family: "Overused Grotesk", sans-serif;
  font-size: 18px;
  background: transparent;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
.music-slide__button:hover {
  background: white;
  color: black;
}

.buns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.chunsun {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 767px) {
  .chunsun {
    display: contents;
    justify-content: none;
    padding: none;
  }
}

.bonton {
  width: 63.542vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.125vw;
  padding-bottom: 6.524vw;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 767px) {
  .bonton {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5.333vw;
    padding-bottom: 13.333vw;
  }
}
@media (768px <= width <= 1024px) {
  .bonton {
    width: 80.542vw;
  }
}

.bonthou {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px;
}/*# sourceMappingURL=index.css.map */